

* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151515;
}